In [1]:
import pandas as pd
import os
from datetime import datetime
import time
from functions import *
#changed file 1

In [2]:
# Import results from EA
ea_results_df = get_html_results()
ea_results_df.head(10)

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price.1,Commission,Taxes,Swap,Profit
1,75801834.0,2024.02.08 15:43:58,buy,20.00,dj30.p,38710.68,38710.58,0.00,2024.02.08 15:43:58,38710.58,0.00,0.00,0.00,-20.00
2,75801957.0,2024.02.08 15:44:02,buy,20.00,dj30.p,38710.68,38710.83,0.00,2024.02.08 15:44:03,38710.83,0.00,0.00,0.00,30.00
3,75802369.0,2024.02.08 15:44:18,buy,20.00,dj30.p,38708.68,38708.58,0.00,2024.02.08 15:44:18,38708.58,0.00,0.00,0.00,-20.00
4,75802447.0,2024.02.08 15:44:19,buy,20.00,dj30.p,38709.68,38709.58,0.00,2024.02.08 15:44:19,38709.58,0.00,0.00,0.00,-20.00
5,75802523.0,2024.02.08 15:44:25,buy,20.00,dj30.p,38709.18,38709.08,0.00,2024.02.08 15:44:25,38709.08,0.00,0.00,0.00,-20.00
6,75802645.0,2024.02.08 15:44:27,buy,20.00,dj30.p,38708.18,38708.08,0.00,2024.02.08 15:44:28,38708.08,0.00,0.00,0.00,-20.00
7,75802746.0,2024.02.08 15:44:28,buy,20.00,dj30.p,38708.18,38708.33,0.00,2024.02.08 15:44:31,38708.33,0.00,0.00,0.00,30.00
8,75802843.0,2024.02.08 15:44:39,buy,20.00,dj30.p,38707.68,38707.58,0.00,2024.02.08 15:44:41,38707.58,0.00,0.00,0.00,-20.00
9,75803043.0,2024.02.08 15:44:42,buy,20.00,dj30.p,38709.18,38709.08,0.00,2024.02.08 15:44:42,38709.08,0.00,0.00,0.00,-20.00
10,75803155.0,2024.02.08 15:44:50,buy,20.00,dj30.p,38707.68,38707.17,0.00,2024.02.08 15:44:52,38707.17,0.00,0.00,0.00,-102.00