In [1]:
import pandas as pd
import os
from datetime import datetime
import time
from functions import *

In [2]:
# Create list of html files in the html folder: Does not weed out non-html
html_pages = os.listdir("resources/html")

# Create DataFrame to concat to
compiled_df = pd.DataFrame()

# Loop through html_pages list to pull in
for page in html_pages:

    # Read in the file using pandas
    # Render the 3rd row as data header skipping the first two rows
    df = pd.read_html(f"resources/html/{page}", header=2)
    
    # Pull the first Table which is the only table in the html page
    data_df = pd.DataFrame(df[0])

    # Convert Ticket to numeric and coerce the rest to NaN
    data_df['Ticket'] = pd.to_numeric(data_df['Ticket'], errors="coerce")

    # Keep only that of Ticket and Size that is not null
    # This keeps trade data then removes the first row of balance
    data_df = data_df[(pd.notnull(data_df['Ticket'])) & (pd.notnull(data_df['Size']))]
    compiled_df = pd.concat([compiled_df, data_df], axis="rows")

reading in DetailedStatement_gold.html
reading in detailed_trading_data.html
reading in EATesting_All_Assest.html

In [4]:
compiled_df

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price.1,Commission,Taxes,Swap,Profit
0,771062086.0,2024.02.27 16:24:51,buy,0.10,xauusd,2035.47,2035.39,0.00,2024.02.27 16:24:53,2035.37,-0.41,0.00,0.00,-1.00
1,771062150.0,2024.02.27 16:25:00,buy,0.10,xauusd,2035.36,2035.18,0.00,2024.02.27 16:25:07,2035.18,-0.41,0.00,0.00,-1.80
2,771062569.0,2024.02.27 16:25:11,buy,0.10,xauusd,2035.25,2035.12,0.00,2024.02.27 16:25:15,2035.13,-0.41,0.00,0.00,-1.20
3,771062635.0,2024.02.27 16:25:18,buy,0.10,xauusd,2035.09,2035.01,0.00,2024.02.27 16:25:22,2034.95,-0.41,0.00,0.00,-1.40
4,771062739.0,2024.02.27 16:25:24,buy,0.10,xauusd,2034.96,2034.97,0.00,2024.02.27 16:25:26,2034.97,-0.41,0.00,0.00,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,772008329.0,2024.02.29 15:42:40,sell,0.50,ymh24,39016.00,39016.08,0.00,2024.02.29 15:42:40,39017.00,-7.80,0.00,0.00,-10.00
552,772008301.0,2024.02.29 15:42:29,sell,0.50,ymh24,39011.00,39012.08,0.00,2024.02.29 15:42:29,39014.00,-7.80,0.00,0.00,-30.00
553,772008280.0,2024.02.29 15:42:27,sell,0.50,ymh24,39010.00,39011.08,0.00,2024.02.29 15:42:27,39013.00,-7.80,0.00,0.00,-30.00
554,772007977.0,2024.02.29 15:42:09,sell,0.50,ymh24,39011.00,39011.08,0.00,2024.02.29 15:42:10,39013.00,-7.80,0.00,0.00,-20.00
555,772007914.0,2024.02.29 15:42:05,sell,0.50,ymh24,39011.00,39012.08,0.00,2024.02.29 15:42:06,39013.00,-7.80,0.00,0.00,-20.00