In [35]:
import pandas as pd
import os

html_pages = os.listdir("resources/html")

ticker = pd.DataFrame()
for page in html_pages:
    # Render the 3rd row as data header skipping the first two rows
    df = pd.read_html(f"resources/html/{page}", header=2)

    # Pull the first Table which is the only table in the html page
    data_df = pd.DataFrame(df[0])

    # Convert Ticket to numeric and coerce the rest to NaN
    data_df['Ticket'] = pd.to_numeric(data_df['Ticket'], errors="coerce")

    # Keep only that of Ticket and Size that is not null
    # This keeps trade data then removes the first row of balance
    data_df = data_df[(pd.notnull(data_df['Ticket'])) & (pd.notnull(data_df['Size']))]
    ticker = pd.concat([ticker, data_df], axis="rows")

In [36]:
ticker

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price.1,Commission,Taxes,Swap,Profit
1,75801834.0,2024.02.08 15:43:58,buy,20.00,dj30.p,38710.68,38710.58,0.00,2024.02.08 15:43:58,38710.58,0.00,0.00,0.00,-20.00
2,75801957.0,2024.02.08 15:44:02,buy,20.00,dj30.p,38710.68,38710.83,0.00,2024.02.08 15:44:03,38710.83,0.00,0.00,0.00,30.00
3,75802369.0,2024.02.08 15:44:18,buy,20.00,dj30.p,38708.68,38708.58,0.00,2024.02.08 15:44:18,38708.58,0.00,0.00,0.00,-20.00
4,75802447.0,2024.02.08 15:44:19,buy,20.00,dj30.p,38709.68,38709.58,0.00,2024.02.08 15:44:19,38709.58,0.00,0.00,0.00,-20.00
5,75802523.0,2024.02.08 15:44:25,buy,20.00,dj30.p,38709.18,38709.08,0.00,2024.02.08 15:44:25,38709.08,0.00,0.00,0.00,-20.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,56750016.0,2023.11.20 17:37:08,buy,10.00,dj30.p,35051.53,35049.52,0.00,2023.11.20 17:37:11,35049.52,0.00,0.00,0.00,-201.00
240,56750078.0,2023.11.20 17:37:14,buy,10.00,dj30.p,35049.53,35049.43,0.00,2023.11.20 17:37:14,35049.43,0.00,0.00,0.00,-10.00
241,56750087.0,2023.11.20 17:37:14,buy,10.00,dj30.p,35048.53,35048.43,0.00,2023.11.20 17:37:16,35048.43,0.00,0.00,0.00,-10.00
242,56750106.0,2023.11.20 17:37:20,buy,10.00,dj30.p,35046.53,35050.48,0.00,2023.11.20 17:37:25,35050.48,0.00,0.00,0.00,395.00
243,56750173.0,2023.11.20 17:37:26,buy,10.00,dj30.p,35050.53,35051.48,0.00,2023.11.20 17:37:27,35051.48,0.00,0.00,0.00,95.00